{
  "plugins": ["node", "mocha"],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "quotes": [2, "single", { "avoidEscape": true }],
    "no-console": 0,
    "mocha/no-exclusive-tests": "error"
  },
  "env": {
    "mocha": true
  }
}
